/* NORMALIZE.CSS */
html{line-height: 1.15; -webkit-text-size-adjust: 100%;}body{margin: 0;}main{display: block;}h1{font-size: 2em; margin: 0.67em 0;}hr{box-sizing: content-box; height: 0; overflow: visible;}pre{font-family: monospace, monospace; font-size: 1em;}a{background-color: transparent;}abbr[title]{border-bottom: none; text-decoration: underline; text-decoration: underline dotted;}b,strong{font-weight: bolder;}code,kbd,samp{font-family: monospace, monospace; font-size: 1em;}small{font-size: 80%;}sub,sup{font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}sub{bottom: -0.25em;}sup{top: -0.5em;}img{border-style: none;}button,input,optgroup,select,textarea{font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}button,input{overflow: visible;}button,select{text-transform: none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style: none; padding: 0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline: 1px dotted ButtonText;}fieldset{padding: 0.35em 0.75em 0.625em;}legend{box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal;}progress{vertical-align: baseline;}textarea{overflow: auto;}[type="checkbox"],[type="radio"]{box-sizing: border-box; padding: 0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height: auto;}[type="search"]{-webkit-appearance: textfield; outline-offset: -2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}::-webkit-file-upload-button{-webkit-appearance: button; font: inherit;}details{display: block;}summary{display: list-item;}template{display: none;}[hidden]{display: none;}

/* BASE STYLES */
a { color: #0a47ff; }
body { margin: 0 auto; max-width: 1450px; min-width: 740px; }
button { display: block; margin: 30px auto 30px; }
button, input { font-family: Arial, sans-serif; font-size: 14px; }
code { color: #de0d0d; font-size: 14px; }
h1 { font-weight: 300; }
header { margin: 0 20px; }
header, footer, textarea, #readme { font-family: Courier, serif; }
label { font-family: Times, serif; font-size: 16px; }
legend { font-weight: 600; }
textarea { background-color: #f8f8f8; border: 1px solid #c4c4c4; display: block; font-size: 12px; margin: 0 auto; padding: 0; resize: none; width: 700px; height: 160px; }
ul li { margin: 8px 0; }

/* SITE STYLES */
#chartEmoji { float: left; left: -4px; margin: 0 19px 0 0; position: relative; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg); -webkit-transition: transform 250ms ease-out, margin 250ms ease-out; -ms-transition: transform 250ms ease-out, margin 250ms ease-out; -moz-transition: transform 250ms ease-out, margin 250ms ease-out; transition: transform 250ms ease-out, margin 250ms ease-out; }
#chartSelect { font-family: Arial, sans-serif; font-size: 14px; }
.scrollBox { background-color: #f8f8f8; border: 1px solid #c4c4c4; height: 400px; width: 700px; margin: 0 auto; padding: 10px 0; text-align: left; overflow-x: hidden; overflow-y: auto; }
.dataCheckboxes, .styleControls { border: 1px solid #c4c4c4; width: 616px; margin: 20px auto; }

/* README SECTION */
#readme { margin: 0 auto 40px; width: 700px; }
#readme h3 { font-style: italic; font-weight: 300; }
#readme h3 + hr { width: 50%; }
#readme p code { color: #0a47ff; font-weight: 300; } /* Targets <img> text */
#readme p + p span { font-family: monospace; font-size: 14px; } /* Targets <table> text */
pre { background-color: #f7f7f7; border: 1px solid #c4c4c4; padding: 20px; width: 580px; }

/* FOOTER STYLES */
footer p { font-size: 10px; margin: 20px 0 20px 20px; }
footer p time { font-weight: 600; }

/* CHART STYLES */
.endLabel:hover { cursor: pointer; text-decoration: underline; } /* Adds interactivity for label text switching */
.dataCheckboxes label { display: inline-block; width: 150px; } /* Chart Customization labels */
.dataCheckboxes label[for="horiz1Div"], .dataCheckboxes label[for="horiz3Div"], .dataCheckboxes label[for="horiz4Div"], .dataCheckboxes label[for="horiz5Div"], .dataCheckboxes label[for="combo1Div"], .dataCheckboxes label[for="negative1Div"], .dataCheckboxes label[for="negative2Div"] { margin: 0 0 0 65px; width: 130px; } /* Horizontal Charts and Combo Chart I 'Add bar dividers' */
.dataCheckboxes small { display: block; margin: 10px 0; }
.horiz1Controls label, .horiz2Controls label, .horiz3Controls label, .horiz4Controls label, .horiz5Controls label, .splitControls label, .vert5Controls label { display: inline-block; width: 110px; }
.vert1Controls label, .vert2Controls label, .vert3Controls label, .vert4Controls label { display: inline-block; width: 100px; }
.horiz1Controls input, .horiz2Controls input, .horiz3Controls input, .horiz4Controls input, .horiz5Controls input, .negative1Controls input, .negative2Controls input, .vert1Controls input, .vert2Controls input, .vert3Controls input, .vert4Controls input { margin: 10px 60px 0 0; width: 90px; }
.negative1Controls label, .negative2Controls label { display: inline-block; width: 135px; }
.chartLegend label[for*="legend"] { width: 120px; } /* Targets all labels that start with "legend" */
.chartLegend label[for*="Color"] { width: 150px; } /* Targets all labels that contain "Color" */
.chartLegend input { margin: 0 60px 0 0; }
.chartLegend input[name*="capText"], .chartLegend input[name*="srcText"] { width: 251px; } /* Targets Caption + Source for all Combo and Stacked charts */
.chartLegend #combo1Div { width: auto; } /* Combo Chart checkbox */
.chartLegend #rowsData7, .chartLegend #rowsData19 { margin: 0 7px 0 0; } /* Combo Charts 'Select # of Data Rows' */
.stacked1Controls label:first-of-type, .stacked2Controls label:first-of-type, .stacked3Controls label:first-of-type, .stacked4Controls label:first-of-type, .combo1Controls label:first-of-type, .combo2Controls label:first-of-type, .combo3Controls label:first-of-type { width: 75px; } /* Targets Row # Data Label */
.stacked1Controls input:first-of-type, .stacked2Controls input:first-of-type, .stacked3Controls input:first-of-type, .stacked4Controls input:first-of-type, .combo1Controls input:first-of-type, .combo2Controls input:first-of-type, .combo3Controls input:first-of-type { width: 125px; } /* Targets Row # Data Input */
.prog1Controls input:first-of-type, .prog2Controls input:first-of-type, .prog3Controls input:first-of-type, .prog4Controls input:first-of-type { width: 110px; } /* Targets Row # Data Input */
.stacked1Controls label, .stacked2Controls label, .stacked3Controls label, .stacked4Controls label, .combo1Controls label, .combo2Controls label, .combo3Controls label, .prog1Controls label, .prog2Controls label, .prog3Controls label, .prog4Controls label { display: inline-block; margin: 10px 10px 0 0; }
.prog1Controls label[for*="prog1Size"], .prog2Controls label[for*="prog2Size"], .prog3Controls label[for*="prog3Size"], .prog4Controls label[for*="prog4Size"] { margin: 10px 20px 0 0; } /* Targets 'Progress Bar Size' right spacing */
.stacked1Controls input, .stacked2Controls input, .stacked3Controls input, .stacked4Controls input, .combo1Controls input, .combo2Controls input, .prog1Controls input, .prog2Controls input, .prog3Controls input, .prog4Controls input { margin: 0 22px 0 0; width: 50px; }
.combo3Controls input { margin: 0 18px 0 0; width: 50px; } /* Adjusts Combo Chart III input spacing; Required for mobile view */
.splitControls input, .dataCheckboxes label { margin: 10px 10px 0 0; }
.splitControls input { width: 50px; }
.vert5Controls input { margin: 10px 10px 0 0; width: 50px; }

/* CHART SELECTION TRANSITION EFFECT */
.charts { opacity: 0; -webkit-transition: opacity 300ms ease-in-out; -ms-transition: opacity 300ms ease-in-out; -moz-transition: opacity 300ms ease-in-out; transition: opacity 300ms ease-in-out; }
#horiz1Chart { opacity: 1; }

/* COLOR PICKER TOOL */
.colorTool { display: inline-block; padding: 0 0 0 4px; --tool-cool-color-picker-btn-border-color: #858585; --tool-cool-color-picker-btn-border-color-inner: #000000; --tool-cool-color-picker-btn-border-radius: 3px; --tool-cool-color-picker-btn-border-radius-inner: 2px; }

/* OUTPUT CODE + ESTIMATED HTML CHART WEIGHT */
label[for*="Output"] { display: block; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; text-align: left; width: 700px; margin: 4px 0 40px; } /* HTML Weight Text */
label[for*="Output"] span { text-decoration: underline; text-decoration-thickness: 2px; }

/* DARK MODE STYLES */
button, #darkMode, #lightMode { cursor: pointer; }
#darkMode, #lightMode { -webkit-user-select: none; user-select: none; }
.darkBorder { border-color: #1b1b1b !important; }
.lightBorder { border-color: #ffffff !important; }
.darkStyles { background-color: #1b1b1b !important; color: #f2f2f2 !important; }
.lightStyles { background-color: #ffffff !important; color: #000000 !important; }
.lightStylesCSS { background-color: #ffffff !important; color: #666666 !important; } /* Used by Caption, Subtitle and Source text */
.scrollBoxLight, .textareaLight { background-color: #f8f8f8 !important; }
#darkMode { display: inline-block; -webkit-transition: transform 10000ms ease-out; -ms-transition: transform 10000ms ease-out; -moz-transition: transform 10000ms ease-out; transition: transform 10000ms ease-out; }
/* LIGHT/DARK MODE TOOLTIPS */
#lmTooltip, #dmTooltip { background-color: #1f1f1f; border-radius: 2px; color: #ffffff; font-size: 16px; margin: 0 0 0 234px; opacity: 0; padding: 4px; position: absolute; }
#dmTooltip { background-color: #ffffff; color: #1f1f1f; }

/* CHART STYLES TRANSITIONS */
.darkStyles, .lightStyles, .lightStylesCSS, .scrollBoxLight, .textareaLight, .chartWeight, .chartTable td, code, img, pre, .combo1Legend span, .combo2Legend span, .stacked1Legend span, .stacked2Legend span, .stacked3Legend span, .stacked4Legend span { -webkit-transition: background-color 250ms ease-out, border-color 250ms ease-out, box-shadow 250ms ease-out, color 250ms ease-out, filter 250ms ease-out, height 250ms ease-out, opacity 250ms ease-out, text-shadow 250ms ease-out; -ms-transition: background-color 250ms ease-out, border-color 250ms ease-out, box-shadow 250ms ease-out, color 250ms ease-out, filter 250ms ease-out, height 250ms ease-out, opacity 250ms ease-out, text-shadow 250ms ease-out; -moz-transition: background-color 250ms ease-out, border-color 250ms ease-out, box-shadow 250ms ease-out, color 250ms ease-out, filter 250ms ease-out, height 250ms ease-out, opacity 250ms ease-out, text-shadow 250ms ease-out; transition: background-color 250ms ease-out, border-color 250ms ease-out, box-shadow 250ms ease-out, color 250ms ease-out, filter 250ms ease-out, height 250ms ease-out, opacity 250ms ease-out, text-shadow 250ms ease-out; }
/* .chartTable td -> height, box-shadow; img -> filter */

/* PRE-MOBILE STYLES */
.chartBuild /* Targets .scrollBox and code output section */, .charts > div + table:first-of-type /* Targets non-vertical charts */ { display: inline-block; margin: 0 30px 0 0; vertical-align: top; }
.charts div:first-of-type + .vertWrap { display: inline-block; min-width: 550px; } /* Targets outer div vertical preview charts */

/* MOBILE STYLES */
@media screen and (max-width: 1295px) {
    [id^="vert"] .chartBuild { display: block; margin: 30px 0 0 0; } /* Targets all vertical charts; "^=" means STARTS WITH; "*=" means CONTAINS */
}
@media screen and (max-width: 1365px) {
    .charts div:first-of-type + table:first-of-type { margin: 0; }
    div:not([id^="vert"]) .chartBuild { display: block; margin: 30px 0 0 0; } /* Targets all non-vertical charts */
}
@media screen and (max-width: 1405px) { /* Targets negative|positive chart */
    #npChart div:first-of-type + table:first-of-type { margin: 0; }
    #npChart .chartBuild { display: block; margin: 30px 0 0 0; }
}